# *1. Поиск паттернов покупок*

Вы – единственный аналитик в компании, на которого легла ответственность за поиск инсайтов 
в данных продуктовых магазинов вашей компании.

В файле содержится информация о покупках людей

ID            | Товар         | Количество 
:------------- |:---------------|:-------------: 
1             | Арбуз         | 1.0
1             | Чай           | 1.0
1             | Сгущёнка      | 0.5
2             | Арбуз         | 3.0
2             | Чай           | 1.0

* id – означает покупку (в одну покупку входят все товары, купленные пользователем во время 1 похода в магазин)
* Товар – наименование товара
* Количество – число единиц купленного товара

Воспользуйтесь этими данными и выясните, какие пары товаров пользователи чаще всего покупают 
вместе.По сути, вам необходимо найти паттерны покупок, что позволит оптимизировать размещение 
продуктов в магазине,для удобства пользователей и увеличения выручки.
  
1_Товар        | 2_Товар        | Встречаемость 
:------------- |:---------------|:-------------: 
      Чай      |Арбуз           |2
      Арбуз    |Сгущёнка        |1
      Чай      |Сгущёнка        |1
    
* 1_Товар – наименование первого товара
* 2_Товар – наименование второго товара
* Встречаемость – число раз, когда такая пара была встречена
Другими словами: 2 раза люди покупали одновременно чай и арбуз, 1 раз одновременно покупали арбуз и сгущёнку 
и 1 раз одновременно были куплены чай со сгущёнкой.

Напишите код на python для получения нужной таблицы и укажите 5 наиболее распространённых паттернов.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/409319/test1_completed.csv')

In [3]:
df.head(3)

      id            Товар  Количество
0  17119            Лимон         1.1
1  17119  Лимон оранжевый         0.7
2  17119        Лук-порей        10.0

**Конкретно для данной задачи нам не важно количество товара в заказе, а важен сам факт покупки**

In [4]:
df1 = df.assign(Покупка=1).drop(columns='Количество')

In [5]:
df1.head(3)

      id            Товар  Покупка
0  17119            Лимон        1
1  17119  Лимон оранжевый        1
2  17119        Лук-порей        1

**Чтобы провернуть трюк с подсчетом вхождений, немного преобразуем нашу таблицу**

In [6]:
df1 = df1.pivot(index='id', columns='Товар', values='Покупка').fillna(0)

In [7]:
df1.head(3)

Товар,Абрикос вяленый,Абрикосы молдавские,Авокадо ХАСС,Авокадо стандарт,Алыча вяленая,Ананас Gold,Ананасовые кольца,Апельсины столовые,Арбуз,Арбуз овальный,...,Яблоки Гала,Яблоки Голден,Яблоки Джонаголд,Яблоки Мутсу,Яблоки Симиренко,Яблоки Фуджи,Яблоки Чемпион,Яблоки сезонные,Яблоки сушеные,Ягоды Годжи
id,,,,,,,,,,,,,,,,,,,,,
17119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17530,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17618,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

**Если умножить матрицу на  её транспонированную версию, то мы получим все возможные пары товаров. Такая таблица симметрична относительно главной диагонали, поэтому, чтобы избежать задвоения значений,  отберем только одну её половину(верхнюю или нижнюю)**

In [8]:
purhases = df1.T.dot(df1)

In [9]:
cond = np.triu(np.ones(purhases.shape)).astype(bool)

In [10]:
purhases = purhases.mask(cond=cond)
purhases.head(3)

Товар,Абрикос вяленый,Абрикосы молдавские,Авокадо ХАСС,Авокадо стандарт,Алыча вяленая,Ананас Gold,Ананасовые кольца,Апельсины столовые,Арбуз,Арбуз овальный,...,Яблоки Гала,Яблоки Голден,Яблоки Джонаголд,Яблоки Мутсу,Яблоки Симиренко,Яблоки Фуджи,Яблоки Чемпион,Яблоки сезонные,Яблоки сушеные,Ягоды Годжи
Товар,,,,,,,,,,,,,,,,,,,,,
Абрикос вяленый,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Абрикосы молдавские,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Авокадо ХАСС,10.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Приведем все в понятный вид и снова покрутим нашу таблицу**

In [11]:
purhases = (purhases.stack()
                    .reset_index(0)
                    .rename(columns={'Товар': 'Товар_2', 0:'Встречаемость'})
                    .reset_index()
                    .rename(columns={'Товар': 'Товар_1'})
                    .sort_values(by='Встречаемость', ascending=False))

In [12]:
purhases.head()

                 Товар_1            Товар_2  Встречаемость
13643  Огурцы Луховицкие              Укроп          431.0
13657           Петрушка              Укроп          408.0
6336               Арбуз  Огурцы Луховицкие          345.0
6383             Кабачки  Огурцы Луховицкие          326.0
13597              Кинза              Укроп          303.0

**Выполним коротенькую проверку ; ) Будем использовать apriori, модуль для Associations rules learning — ARL**

[Вот тут подробная статья](https://habr.com/ru/company/ods/blog/353502/)

In [13]:
from apyori import apriori
from apyori import dump_as_json

**На вход передается список транзакций, поэтому необходимо подготовить наши данные**

In [14]:
ARL_df = df.drop(columns='Количество')
ARL_df = ARL_df.groupby('id').agg(lambda x: x.tolist())

In [15]:
transactions =  ARL_df.reset_index().Товар.to_list()

In [16]:
result = list(apriori(transactions, max_length = 2, min_support = 0.05))

In [17]:
from io import StringIO 
import json 
output = []
for RelationRecord in result:
    o = StringIO()
    dump_as_json(RelationRecord, o)
    output.append(json.loads(o.getvalue()))    
data_df = pd.DataFrame(output)

**Под капотом находятся *Support (поддержка)*, *Confidence (достоверность)* и *Lift (поддержка)*, нас интересует только первая метрика. Также нам интересны только пары товаров, поэтому отберем нужную нам часть фрейма**

In [18]:
final_df = data_df[['items', 'support']].copy()

In [19]:
final_df['frequency'] = (final_df.support * len(transactions)).astype(int)

In [20]:
final_df['number_of_items'] = final_df['items'].apply(lambda x: len(x))

In [21]:
pair_purchases = final_df[final_df["number_of_items"] == 2].sort_values(by="support", ascending = False)[['items', 'frequency']]

In [22]:
pair_purchases.head()

                            items  frequency
153    [Огурцы Луховицкие, Укроп]        431
158             [Петрушка, Укроп]        408
117    [Арбуз, Огурцы Луховицкие]        345
134  [Кабачки, Огурцы Луховицкие]        326
139                [Кинза, Укроп]        303